.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover{
    background-color: #F8F8F8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply{
    font-size: 0.9rem;
    color: #757575;
    margin: 0 4px;
}

.header__cart-item-quantity{
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between  ;
}

.header__cart-item-description{
    color: #757575;
    font-weight: 300;
    font-size: 1.2rem;
}

.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}