.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading{
    color: var(--text-color);
    margin-top: 0;
    font-size: 1.5rem;
    padding: 10px 16px 0;
    font-weight: 500;
    text-transform: uppercase;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding:0 0 8px 0;
    list-style: none;
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    background-color: #ccc;
    height: 1px;
    top: 0;
    left: 20px;
    right: 20px;
    position: absolute;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item__link {
    position: relative;
    right: 0;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 10px 20px;
    display: block;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    color: var(--primary-color);
    right: -5px;
}